.nav-button {
  $button-height: 20px;
  $button-width: 20px;
  $san-size: 2px;
  $san-border-radius: 25px;
  $san-color: white;
  $transition-time: 150ms; 

  align-items: center;
  cursor: pointer;
  display: flex;
  height: $button-height;
  justify-content: center;
  width: $button-width;

  .nav-san, .nav-san::before, .nav-san::after {
    transition: all $transition-time ease-in-out;
  }
  
  &.open {
    .nav-san {
      background: transparent;
      
      &::before {
        transform: translateY(0) rotate(-45deg);
      }
      &::after {
        transform: translateY(0) rotate(45deg);
      }
    }
  }

  &.open + .nav-ul {
  animation: fade-in 1s ease-in-out;
  display: flex;

    &.closing {
      animation: fade-out 100ms ease-in-out;
    }
  }

  .nav-san {
    background: $san-color;
    border-radius: $san-border-radius;
    height: $san-size;
    position: relative;
    width: 100%;

    &::before, &::after {
      background-color: $san-color;
      border-radius: $san-border-radius;
      content: '';
      position: absolute;
      inset: 0;
      height: $san-size;
      width: 100%;
    }

    &::before {
      transform: translateY(calc(($button-height - $san-size * 3) / -2 ));
    }

    &::after {
      transform: translateY(calc(($button-height - $san-size * 3) / 2 ));
    }
  }
}