@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.product-grid {
  $gap: 64px;
  $product-card-width: 200px;
  $padding-inline: 1.5rem;

  display: grid;
  gap: $gap;
  grid-template-columns: repeat( auto-fit, minmax($product-card-width, 1fr));
  list-style: none;
  margin-inline: auto;
  padding-block: 1rem;
  padding-inline: $padding-inline;
  width: min(100%, ($product-card-width * 3) + ($gap * 2) + ($padding-inline * 2));
  
  .product-card-wrapper {
    aspect-ratio: 1 / 1;
    overflow: hidden;
    position: relative;
    
    .product-card {
      color: var(--color-text-primary);
      
      .product-image {
        animation: rotate 33s linear infinite;
        border-radius: 50%;
        position: absolute;
        inset: 0;
        z-index: -1;
      }
      
      .product-header {
        font-family: 'Hello Headline';
        font-size: clamp(1rem, 5vw, 1.313rem);
        line-height: 1;
        text-shadow: 2px 2px 3px black;
      }
      
      .product-price {
        font-size: var(--body-text-size);
        font-weight: bold;
        text-shadow: 2px 2px 2px black;
      }
    }
  }
}