@import '../css/cyclone-reset.css';
@import './home.scss';
@import './nav-button.scss';
@import './nav.scss';
@import './story.scss';
@import './products.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@font-face {
  font-family: 'Hello Headline';
  src: url('../assets/fonts/hello-headline.woff2') format('woff2');
}

:root {
  // * text size
  --body-text-size: clamp(0.75rem, 2vw, 0.8313rem);

  // * colors
  --color-primary: #271300;
  --color-secondary: #D1E7E0;

  --color-text-primary: white;
  --color-text-secondary: #704241;
}

body {
  background:var(--color-primary);
  color: var(--color-text-primary);
  font-family: 'Open Sans', 'Courier New', Courier, monospace;
  font-size: var(--body-text-size);
  font-weight: 300;
}

a {
  color: var(--color-text-primary);
  font-size: var(--body-text-size);
  font-weight: bold;
}

header {
  .header-content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-inline:auto;
    max-width: 1200px;
    padding-block: 25px;
    position: relative;
  }

  .header-left {
    .header-title {
      background: linear-gradient(skyblue, white, white);
      background: -webkit-linear-gradient(skyblue, white, white);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: inline-block;
      font-family: 'Hello Headline';
      font-size: clamp(1.313rem, 11vw, 5.5rem);
      line-height: 1.25;
      position: relative;
      text-decoration: none;
      // text-shadow: 3px 3px 3px skyblue, -3px -3px 3px black;
      transform-origin: top left;
      transition: transform 250ms ease-in-out;
    }
  }

  nav {
    .nav-ul {
      right: 1.5rem;
      top: 65%;
    }
  }

  // * header right imported from nav.scss

  &:has(.nav-san-button-container.open) .header-title {
    transform: scale(0.7);
  }
}

main {
  section {
    position: relative;
  }
}

footer {
  background-color: var(--color-primary);
  color: var(--color-text-primary);
  display: grid;
  gap: 1rem;
  padding-block: 1rem;
  place-items: center;

  .logo-container {
    display: flex;
    justify-content: center;
    gap: 3rem;
  }

  .footer-logo {
    fill: var(--color-secondary);
    height: 1rem;
    transition: all 250ms ease-in-out;

    &:hover {
      opacity: 0.8;
      transform: scale(1.1) rotate(8deg);
    }
  }
}

@media (min-width: 1024px) {
  header {
    nav { 
      .nav-san-button-container {
        display: none;
      }
      .nav-ul {
        display: flex;
        position: relative;
        right: 0;
      } 
    }
  }

  header:has(.nav-san-button-container.open) .header-title {
    transform: scale(1);
  }
}