@import '../css/cyclone-reset.css';
@import './nav-button.scss';
@import './nav.scss';

@font-face {
  font-family: 'Hello Headline';
  src: url('../assets/fonts/hello-headline.woff2') format('woff2');
}

body {
  background-color: #d6f3fb;
  font-family: 'Hello Headline';
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-inline:auto;
  max-width: 1200px;
  padding-inline: 1.5rem;
  padding-top: 20px;
  position: relative;

  .header-title {
    color: white;
    font-size: clamp(2.5rem, 22vw, 11rem);
    line-height: 1;
    transform-origin: top left;
    transition: transform 250ms ease-in-out;
    text-shadow: 0 0 3px #704241;
  }

  &:has(.nav-button.open) .header-title {
    transform: scale(0.75);
  }
}

section {
  display: grid;
  place-items: center;
  
  height: 500px;
}

section img {
  aspect-ratio: 1;
  height: 300px;
}

.section-one {
  background-color: #704241;
  position: relative;
}

.custom-shape-divider-top-1698537274 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1698537274 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 162px;
}

.custom-shape-divider-top-1698537274 .shape-fill {
    fill: #D6F3FB;
}

@media (min-width: 1024px) {
  nav .nav-ul {
    display: flex;
    position: relative;
  }

  header:has(.nav-button.open) .header-title {
    transform: scale(1);
  }
}