@import '../css/cyclone-reset.css';
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@-webkit-keyframes wobble-hor-bottom {
  0%, 100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%, 100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
.page-content {
  padding-inline: 1.5rem;
}

.section-content {
  margin-inline: auto;
  padding-block: 25px;
  width: min(100%, 1200px);
}

.shape-divider {
  left: 0;
  line-height: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.shape-divider svg {
  display: block;
  height: 55px;
  position: relative;
  width: calc(100% + 1.3px);
}

.shape-divider-top {
  top: -1px;
}

.shape-divider-bottom {
  bottom: -1px;
  transform: rotate(180deg);
}

section.shop-display-section .shop-image {
  object-fit: cover;
  margin-inline: auto;
  min-height: 333px;
  width: min(100%, 1200px);
}
section.shop-display-section .shape-divider-one .shape-fill {
  fill: var(--color-primary);
}
section.shop-display-section .shape-divider-two .shape-fill {
  fill: var(--color-secondary);
}
section.testimonial-section {
  background-color: var(--color-secondary);
}
section.testimonial-section .testimonial-section-content {
  align-items: center;
  display: grid;
  gap: 1rem;
  margin-inline: auto;
  place-items: center;
}
section.testimonial-section .testimonial-quote,
section.testimonial-section .testimonial-figcaption {
  color: var(--color-text-secondary);
  font-size: var(--body-text-size);
  font-style: italic;
  margin-bottom: 1rem;
  text-align: center;
}
section.testimonial-section .testimonial-figcaption {
  font-weight: bold;
}
section.testimonial-section .coffee-cup {
  -webkit-animation: wobble-hor-bottom 3s both infinite;
  animation: wobble-hor-bottom 3s both infinite;
  aspect-ratio: 1;
  filter: drop-shadow(3px 5px 5px var(--color-primary));
  height: clamp(100px, 33vw, 300px);
}
section.testimonial-section .emphasized-text {
  font-weight: 700;
  font-size: clamp(0.8313rem, 2.5vw, 0.938rem);
}
section.testimonial-section .shape-divider-three .shape-fill {
  fill: var(--color-primary);
}
section.information-section .information-section-content {
  display: grid;
  gap: 2rem;
}
section.information-section .information-section-content .information-heading {
  font-weight: bold;
  font-size: clamp(0.8313rem, 2vw, 1rem);
  margin-bottom: 1rem;
}
section.information-section .information-section-content .information-sub-heading {
  font-weight: bold;
  margin-bottom: 0.25rem;
}
section.information-section .information-section-content .hours-content-container {
  display: flex;
  flex-direction: column;
}
section.information-section .information-section-content .hours-content-container hr {
  margin: 0;
}
section.information-section .information-section-content .information-sub-container {
  margin-bottom: 1rem;
}
section.information-section .information-section-content .day-container {
  align-items: center;
  display: flex;
  font-size: var(--body-text-size);
  gap: 3rem;
  justify-content: space-between;
}
section.information-section .information-section-content .information-bottom-section {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .testimonial-section-content {
    grid-template-columns: repeat(3, 1fr);
  }
  .information-section-content {
    gap: 5rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
.nav-san-button-container {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 20px;
  justify-content: center;
  width: 20px;
}
.nav-san-button-container .nav-san-button, .nav-san-button-container .nav-san-button::before, .nav-san-button-container .nav-san-button::after {
  transition: all 150ms ease-in-out;
}
.nav-san-button-container.open .nav-san-button {
  background: transparent;
}
.nav-san-button-container.open .nav-san-button::before {
  transform: translateY(0) rotate(-45deg);
}
.nav-san-button-container.open .nav-san-button::after {
  transform: translateY(0) rotate(45deg);
}
.nav-san-button-container.open + .nav-ul {
  animation: fade-in 1s ease-in-out;
  display: flex;
}
.nav-san-button-container.open + .nav-ul.closing {
  animation: fade-out 150ms ease-in-out;
}
.nav-san-button-container .nav-san-button {
  background: white;
  border-radius: 50%;
  height: 2.5px;
  position: relative;
  width: 100%;
}
.nav-san-button-container .nav-san-button::before, .nav-san-button-container .nav-san-button::after {
  background-color: white;
  border-radius: 50%;
  content: "";
  position: absolute;
  inset: 0;
  height: 2.5px;
  width: 100%;
}
.nav-san-button-container .nav-san-button::before {
  transform: translateY(-6.25px);
}
.nav-san-button-container .nav-san-button::after {
  transform: translateY(6.25px);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
nav .nav-ul {
  display: none;
  gap: 1.5rem;
  list-style: none;
  position: absolute;
}
nav .nav-ul .nav-li {
  position: relative;
  transition: transform 250ms ease-in-out;
}
nav .nav-ul .nav-li:nth-of-type(odd) {
  transform: rotate(8deg);
}
nav .nav-ul .nav-li:nth-of-type(even) {
  transform: rotate(-8deg);
}
nav .nav-ul .nav-li::before, nav .nav-ul .nav-li::after {
  border-radius: 100px;
  content: "";
  inset: -5px -15px;
  opacity: 0.1;
  pointer-events: none;
  position: absolute;
  transform: scaleX(0);
  transform-origin: center;
  z-index: 0;
}
nav .nav-ul .nav-li::before {
  border-right: 2px solid white;
}
nav .nav-ul .nav-li::after {
  border-left: 2px solid white;
}
nav .nav-ul .nav-li:hover {
  transform: rotate(0);
}
nav .nav-ul .nav-li:hover::before, nav .nav-ul .nav-li:hover::after {
  transform: scaleX(1);
  transition: transform 250ms ease-in-out;
}
nav .nav-ul .nav-a {
  background: linear-gradient(skyblue, white, white);
  background: -webkit-linear-gradient(skyblue, white, white);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-shadow: unset;
  transition: all 500ms ease-in-out;
}
nav .nav-ul .nav-a::before {
  content: "";
  border-bottom: 2px dotted white;
  inset: 5px 0 0 0;
  padding-top: 1rem;
  position: absolute;
  transition: opacity 250ms ease-in-out, transform 380ms ease-in-out;
  transform: scaleX(0);
}
nav .nav-ul .nav-a[aria-current]::before {
  opacity: 1;
  transform: scaleX(1);
}

.story-content-container {
  display: grid;
  margin-inline: auto;
  padding-block: 25px;
  padding-inline: 1.5rem;
  width: min(100%, 700px);
}
.story-content-container .story-heading {
  font-size: clamp(2.25rem, 5vw, 3.313rem);
  font-family: "Hello Headline", sans-serif;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}
.story-content-container .story-body-text-container {
  display: grid;
  font-size: var(--body-text-size);
  gap: 1.5rem;
  text-align: center;
}
.story-content-container .story-body-text-container .story-paragraph-element {
  line-height: 2;
}
.story-content-container .story-body-text-container .story-divider {
  border: none;
  border-top: 5px dashed var(--color-text-secondary);
  margin-block: 0rem;
  transform: scaleX(0.5);
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.product-grid {
  display: grid;
  gap: 64px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  list-style: none;
  margin-inline: auto;
  padding-block: 1rem;
  padding-inline: 1.5rem;
  width: min(100%, 728px + 3rem);
}
.product-grid .product-card-wrapper {
  aspect-ratio: 1/1;
  overflow: hidden;
  position: relative;
}
.product-grid .product-card-wrapper .product-card {
  color: var(--color-text-primary);
}
.product-grid .product-card-wrapper .product-card .product-image {
  animation: rotate 33s linear infinite;
  border-radius: 50%;
  position: absolute;
  inset: 0;
  z-index: -1;
}
.product-grid .product-card-wrapper .product-card .product-header {
  font-family: "Hello Headline";
  font-size: clamp(1rem, 5vw, 1.313rem);
  line-height: 1;
  text-shadow: 2px 2px 3px black;
}
.product-grid .product-card-wrapper .product-card .product-price {
  font-size: var(--body-text-size);
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
}

@font-face {
  font-family: "Hello Headline";
  src: url("../assets/fonts/hello-headline.woff2") format("woff2");
}
:root {
  --body-text-size: clamp(0.75rem, 2vw, 0.8313rem);
  --color-primary: #271300;
  --color-secondary: #D1E7E0;
  --color-text-primary: white;
  --color-text-secondary: #704241;
}

body {
  background: var(--color-primary);
  color: var(--color-text-primary);
  font-family: "Open Sans", "Courier New", Courier, monospace;
  font-size: var(--body-text-size);
  font-weight: 300;
}

a {
  color: var(--color-text-primary);
  font-size: var(--body-text-size);
  font-weight: bold;
}

header .header-content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
  max-width: 1200px;
  padding-block: 25px;
  position: relative;
}
header .header-left .header-title {
  background: linear-gradient(skyblue, white, white);
  background: -webkit-linear-gradient(skyblue, white, white);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-family: "Hello Headline";
  font-size: clamp(1.313rem, 11vw, 5.5rem);
  line-height: 1.25;
  position: relative;
  text-decoration: none;
  transform-origin: top left;
  transition: transform 250ms ease-in-out;
}
header nav .nav-ul {
  right: 1.5rem;
  top: 65%;
}
header:has(.nav-san-button-container.open) .header-title {
  transform: scale(0.7);
}

main section {
  position: relative;
}

footer {
  background-color: var(--color-primary);
  color: var(--color-text-primary);
  display: grid;
  gap: 1rem;
  padding-block: 1rem;
  place-items: center;
}
footer .logo-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
}
footer .footer-logo {
  fill: var(--color-secondary);
  height: 1rem;
  transition: all 250ms ease-in-out;
}
footer .footer-logo:hover {
  opacity: 0.8;
  transform: scale(1.1) rotate(8deg);
}

@media (min-width: 1024px) {
  header nav .nav-san-button-container {
    display: none;
  }
  header nav .nav-ul {
    display: flex;
    position: relative;
    right: 0;
  }
  header:has(.nav-san-button-container.open) .header-title {
    transform: scale(1);
  }
}

/*# sourceMappingURL=style.css.map */
