<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="description" content="Page Description Here" />
  </head>
  <body>
    <div id="content">
      <header>
        <div>
          <h1 class="header-title">Coffee</h1>
        </div>

        <nav aria-label="Main">
          <button class="nav-button" aria-label="Open Navigation Menu">
            <div class="nav-san"></div>
          </button>

          <ul class="nav-ul">
            <li class="nav-li">
              <a class="nav-a" href="" aria-current="page">Home</a>
            </li>
            <li class="nav-li">
              <a class="nav-a" href="">Products</a>
            </li>
            <li class="nav-li">
              <a class="nav-a" href="">Story</a>
            </li>
            <li class="nav-li">
              <a class="nav-a" href="">Gallery</a>
            </li>
            <li class="nav-li">
              <a class="nav-a" href="">Visit</a>
            </li>
          </ul>
        </nav>
      </header>

      <main>
        <section class="section-one">
          <div class="custom-shape-divider-top-1698537274">
            <svg
              data-name="Layer 1"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 1200 120"
              preserveAspectRatio="none"
            >
              <path
                d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
                class="shape-fill"
              ></path>
            </svg>

            <img src="./assets/images/coffee-cup.webp" alt="">
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
