<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="description" content="Page Description Here" />
  </head>
  <body>
    <div id="content">
      <header>
        <div class="page-content header-content">
          <div class="header-left">
            <a class="header-title" href="#" alt="Coffee by Cyclone Studios">Coffee</a>
          </div>
          <div class="header-right">
            <nav aria-label="Main">
              <button class="nav-button" aria-label="Open Navigation Menu">
                <div class="nav-san"></div>
              </button>
              <ul class="nav-ul">
                <li class="nav-li">
                  <a class="nav-a" href="" aria-current="page">home</a>
                </li>
                <li class="nav-li">
                  <a class="nav-a" href="">products</a>
                </li>
                <li class="nav-li">
                  <a class="nav-a" href="">story</a>
                </li>
                <li class="nav-li">
                  <a class="nav-a" href="">gallery</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </header>
      <main>
        <section class="shop-display-section">
          <div class="shape-divider shape-divider-top shape-divider-one">
            <svg
              data-name="Layer 1"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 1200 120"
              preserveAspectRatio="none"
            >
              <path
                d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
                class="shape-fill"
              ></path>
            </svg>
          </div>
          <img class="shop-image" src="./assets/images/coffee-shop.png" alt="Coffee Shop"/>
          <div class="shape-divider shape-divider-bottom shape-divider-two">
            <svg
              data-name="Layer 1"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 1200 120"
              preserveAspectRatio="none"
            >
              <path
                d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
                class="shape-fill"
              ></path>
            </svg>
          </div>
        </section>
        <section class="testimonial-section">
          <div class="page-content section-content testimonial-section-content">
            <figure>
              <blockquote>
                <p class="testimonial-quote">
                  "<span class="shop-name">Coffee</span> blends sleek design
                  with a productivity-boosting ambiance, all while serving up
                  some of the city's finest coffee. It's the perfect urban oasis
                  for creatives and coffee lovers alike."
                </p>
              </blockquote>
              <figcaption class="testimonial-figcaption">
                - Elon Musk
              </figcaption>
            </figure>
            <img class="coffee-cup" src="./assets/images/coffee-cup.webp" alt="Coffee Cup"/>
            <figure>
              <blockquote>
                <p class="testimonial-quote">
                  "With its winning combination of earth-toned, minimalist
                  design and signature lo-fi music,
                  <span class="shop-name">Coffee</span> is the go-to spot for
                  modern city dwellers seeking a tranquil haven to work and
                  savor top-notch java. It's where aesthetic meets caffeine."
                </p>
              </blockquote>
              <figcaption class="testimonial-figcaption">
                - John Cloud
              </figcaption>
            </figure>
          </div>
          <div class="shape-divider shape-divider-bottom shape-divider-three">
            <svg
              data-name="Layer 1"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 1200 120"
              preserveAspectRatio="none"
            >
              <path
                d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
                class="shape-fill"
              ></path>
            </svg>
          </div>
        </section>
        <section class="information-section">
          <div class="page-content section-content information-section-content">
            <section class="hours-table">
              <h2 class="information-heading">hours of operation</h2>
              <div class="hours-container">
                <div class="hours-of-operation-day">
                  <p class="hours-of-operation-day-name information-sub-heading">monday</p>
                  <p class="hours-of-operation-day-hours">7:00am - 11:00pm</p>
                </div>
                <hr>
                <div class="hours-of-operation-day">
                  <p class="hours-of-operation-day-name information-sub-heading">tuesday</p>
                  <p class="hours-of-operation-day-hours">7:00am - 11:00pm</p>
                </div>
                <hr>
                <div class="hours-of-operation-day">
                  <p class="hours-of-operation-day-name information-sub-heading">wednesday</p>
                  <p class="hours-of-operation-day-hours">7:00am - 11:00pm</p>
                </div>
                <hr>
                <div class="hours-of-operation-day">
                  <p class="hours-of-operation-day-name information-sub-heading">thursday</p>
                  <p class="hours-of-operation-day-hours">7:00am - 11:00pm</p>
                </div>
                <hr>
                <div class="hours-of-operation-day">
                  <p class="hours-of-operation-day-name information-sub-heading">friday</p>
                  <p class="hours-of-operation-day-hours">7:00am - 11:00pm</p>
                </div>
                <hr>
                <div class="hours-of-operation-day">
                  <p class="hours-of-operation-day-name information-sub-heading">saturday</p>
                  <p class="hours-of-operation-day-hours">9:00am - 12:00am</p>
                </div>
                <hr>
                <div class="hours-of-operation-day">
                  <p class="hours-of-operation-day-name information-sub-heading">sunday</p>
                  <p class="hours-of-operation-day-hours">9:00am - 7:00pm</p>
                </div>
              </div>
            </section>
            <div class="information-bottom-section">
              <section class="contact-us">
                <h2 class="information-heading">contact us</h2>
                <div class="contact-us-container">
                  <div class="information-sub-container">
                    <h3 class="information-sub-heading">email:</h3>
                    <p>coffee@cyclonestud.io</p>
                  </div>
                  <div class="information-sub-container">
                    <h3 class="information-sub-heading">phone:</h3>
                    <p>212-555-7813</p>
                  </div>
                  <div class="information-sub-container">
                    <h3 class="information-sub-heading">
                      instagram:
                    </h3>
                    <a href="#" target="_blank" rel="noopener noreferrer">
                      @coffeebycyclone
                    </a>
                  </div>
                </div>
              </section>
              <section class="visit-us">
                <h2 class="information-heading">visit us</h2>
                <div class="address">
                  <h3 class="information-sub-heading">address:</h3>
                  <p>888 Coffee Street</p>
                  <p>New York, NY 10003</p>
                </div>
              </section>
            </div>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
